/* .task {
  display: block;
  margin-top: 100px;
  margin: 20px;
  font-size: 18px;
  line-height: 42px;
  font-family: Verdana, sans-serif;
  background-color: rgb(239, 247, 245);
} */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
